html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*variables de couleurs*/
/*box shadow btn acceuil*/
/*variables de couleurs*/
/*box shadow btn acceuil*/
button {
  height: 50px;
  width: 218px;
  margin-top: 32px;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 10px grey;
          box-shadow: 2px 2px 10px grey;
  margin-left: 6px;
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  position: relative;
}

button:hover {
  opacity: 0.85;
  -webkit-transform: scale(1.001);
          transform: scale(1.001);
  -webkit-box-shadow: 4px 4px 8px black;
          box-shadow: 4px 4px 8px black;
}

button span {
  font-size: 14px;
  bottom: 1px;
  font-weight: 600;
}

footer {
  background-color: #353535;
  color: white;
  width: 100%;
  height: 10vh;
  margin-top: 50px;
  font-family: "serif";
  font-weight: 100;
}

footer a {
  text-decoration: none;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

/*** page 404 ***/
.error {
  width: 100%;
  height: 100vh;
}

main {
  font-family: "serif";
  font-weight: 100;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  margin: auto;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#66666f));
  background: linear-gradient(180deg, black 0%, #66666f 100%);
}

@media screen and (max-width: 1300px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header img {
  width: 100px;
}

@media screen and (max-width: 1300px) {
  .header img {
    display: none;
  }
}

.header p {
  display: inline-block;
  font-size: 54px;
  font-family: "pattaya";
  font-weight: bold;
  margin-bottom: 5px;
  text-shadow: 10px 5px 2px #5a5a5a;
  color: #cb632d;
}

@media (max-width: 1300px) {
  .header p {
    font-size: 42px;
    position: absolute;
    bottom: 10px;
  }
}

.header .title {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 66px;
}

@media screen and (max-width: 1300px) {
  .header .title {
    font-size: 42px;
    top: 15px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 5vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#66666f), to(#cfcfcf));
  background: linear-gradient(180deg, #66666f 0%, #cfcfcf 100%);
}

.localisation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
}

.localisation i {
  font-size: 1em;
  color: white;
  margin-right: 5px;
}

@media screen and (min-width: 1050px) {
  .localisation i {
    font-size: 1.8em;
  }
}

.localisation h2 {
  font-weight: 500;
  color: white;
}

@media screen and (min-width: 1050px) {
  .localisation h2 {
    font-size: 32px;
  }
}

.livraison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#f1f1f1));
  background: linear-gradient(180deg, #cfcfcf 0%, #f1f1f1 100%);
  padding-bottom: 25px;
  height: 10vh;
}

.livraison span {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 24px;
}

@media screen and (min-width: 1050px) {
  .livraison span {
    display: block;
    text-align: center;
    font-size: 48px;
  }
}

.livraison span img {
  width: 50px;
  margin: 0px 5px;
}

@media screen and (min-width: 1050px) {
  .livraison span img {
    display: none;
  }
}

.livraison p {
  margin-top: 25px;
  font-size: 24px;
}

.livraison .starsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e7c818;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 20px;
}

.livraison .starsContainer span {
  margin-right: 2px;
  font-size: 24px;
}

@media screen and (max-width: 1050px) {
  .livraison .starsContainer span {
    font-size: 14px;
  }
}

.livraison .starsContainer span:nth-child(1) {
  margin-top: 1px;
  color: white;
  color: #cb632d;
  margin-right: 15px;
}

.livraison .starsContainer span:last-child {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #cb632d;
}

.livraison .starsContainer a {
  text-decoration: none;
  white-space: nowrap;
}

.restaurants {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(white));
  background: linear-gradient(180deg, #f1f1f1 0%, white 100%);
}

.restaurants__container {
  width: 100%;
  margin: auto;
}

@media (min-width: 520px) {
  .restaurants__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.restaurants a {
  text-decoration: none;
  color: black;
}

.restaurants h2 {
  font-size: 42px;
  padding-top: 25px;
  font-weight: bold;
  text-align: center;
  color: #cb632d;
  text-decoration: underline;
  margin-bottom: 50px;
  margin-top: 25px;
}

.restaurants__thumbnail {
  width: 80%;
  height: 35vh;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 4px 8px 8px #e5e5e5;
          box-shadow: 4px 8px 8px #e5e5e5;
  margin: auto;
  margin-top: 0;
  margin-bottom: 18px;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  overflow: hidden;
}

.restaurants__thumbnail:hover {
  -webkit-box-shadow: 4px 8px 8px #bdbdbd;
          box-shadow: 4px 8px 8px #bdbdbd;
}

.restaurants__thumbnail:hover img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

@media screen and (min-width: 650px) {
  .restaurants__thumbnail {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .restaurants__thumbnail {
    width: 36%;
  }
}

@media screen and (min-width: 1700px) {
  .restaurants__thumbnail {
    width: 22%;
    height: 35vh;
  }
}

.restaurants__thumbnail .imgContainer {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.restaurants__thumbnail .imgContainer img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.restaurants__thumbnail .imgContainer--note img {
  height: 155%;
}

.restaurants__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants__info img {
  width: 20px;
  height: 20px;
}

.restaurants__name h3 {
  margin-top: 18px;
  margin-left: 14px;
  font-size: 17.5px;
  font-weight: bold;
}

@media screen and (min-width: 1440px) {
  .restaurants__name h3 {
    font-size: 24px;
  }
}

@media screen and (min-width: 1700px) {
  .restaurants__name h3 {
    font-size: 32px;
  }
}

.restaurants__name p {
  margin-top: 8px;
  margin-left: 14px;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 16.5px;
}

@media screen and (min-width: 1700px) {
  .restaurants__name p {
    font-size: 18px;
  }
}

.fa-heart {
  position: absolute;
  bottom: 32px;
  right: 26px;
  font-size: 20px;
}

.terrasse {
  text-align: center;
  padding-bottom: 50px;
}

.terrasse h2 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
}

@media screen and (min-width: 1050px) {
  .terrasse h2 {
    font-size: 48px;
    margin-bottom: 25px;
  }
}

.terrasse .imgTerrasseContainer {
  width: 100%;
  height: 40vh;
}

.terrasse .imgTerrasseContainer img {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerContainer {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1050px) {
  footer .footerContainer {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  footer .footerContainer {
    font-size: 36px;
  }
}
/*# sourceMappingURL=style.css.map */