@import "base/reset";
@import "utils/variables";
@import "utils/btnAcceuil";
@import "utils/btnGradient";
@import "layouts/footer";

/*** page 404 ***/

.error {
  width: 100%;
  height: 100vh;
}

main {
  font-family: "serif";
  font-weight: 100;
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  margin: auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 10px 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 102, 111, 1) 100%
  );

  @media screen and (max-width: 1300px) {
    flex-direction: column;
  }
  img {
    width: 100px;
    @media screen and (max-width: 1300px) {
      display: none;
    }
  }

  p {
    display: inline-block;
    font-size: 54px;
    font-family: "pattaya";
    font-weight: bold;
    margin-bottom: 5px;
    text-shadow: 10px 5px 2px rgb(90, 90, 90);
    color: #cb632d;

    @media (max-width: 1300px) {
      font-size: 42px;
      position: absolute;
      bottom: 10px;
    }
  }

  .title {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 66px;
    @media screen and (max-width: 1300px) {
      font-size: 42px;
      top: 15px;
      width: max-content;
    }
  }
}

.localisation {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5vh;
  background: linear-gradient(
    180deg,
    rgba(102, 102, 111, 1) 0%,
    rgba(207, 207, 207, 1) 100%
  );

  a {
    display: flex;
    text-decoration: none;
    color: black;
  }

  i {
    font-size: 1em;
    color: rgb(255, 255, 255);
    margin-right: 5px;
    @media screen and(min-width:1050px) {
      font-size: 1.8em;
    }
  }

  h2 {
    font-weight: 500;
    color: white;
    @media screen and (min-width: 1050px) {
      font-size: 32px;
    }
  }
}

.livraison {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(207, 207, 207, 1) 0%,
    rgba(241, 241, 241, 1) 100%
  );
  padding-bottom: 25px;
  height: 10vh;
  span {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 24px;
    @media screen and (min-width: 1050px) {
      display: block;
      text-align: center;
      font-size: 48px;
    }
    img {
      width: 50px;
      margin: 0px 5px;
      @media screen and (min-width: 1050px) {
        display: none;
      }
    }
  }
  p {
    margin-top: 25px;
    font-size: 24px;
  }
  .starsContainer {
    display: flex;
    color: rgb(231, 200, 24);
    align-items: center;
    width: max-content;
    margin-top: 20px;
    span {
      margin-right: 2px;
      font-size: 24px;
      @media screen and (max-width: 1050px) {
        font-size: 14px;
      }
    }
    span:nth-child(1) {
      margin-top: 1px;
      color: white;
      color: #cb632d;
      margin-right: 15px;
    }
    span:last-child {
      width: max-content;
      color: #cb632d;
    }

    a {
      text-decoration: none;
    }
  }
}

// ****************************Restaurants

.restaurants {
  height: auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(241, 241, 241, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  &__container {
    width: 100%;
    margin: auto;

    @media (min-width: 520px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }

  h2 {
    font-size: 42px;
    padding-top: 25px;
    font-weight: bold;
    text-align: center;
    color: #cb632d;
    text-decoration: underline;
    margin-bottom: 50px;
    margin-top: 25px;
  }
}

.restaurants__thumbnail {
  width: 80%;
  height: 35vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: $box-shadow;
  margin: auto;
  margin-top: 0;
  margin-bottom: 18px;
  position: relative;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;

  &:hover {
    box-shadow: $darken-box-shadow;
  }

  &:hover img {
    transform: scale(1.04);
  }
  @media screen and(min-width:650px) {
    width: 40%;
  }
  @media screen and (min-width: 1440px) {
    width: 36%;
  }
  @media screen and (min-width: 1700px) {
    width: 22%;
    height: 35vh;
  }

  .imgContainer {
    width: 100%;
    height: 70%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transition: transform 0.2s linear;
    }

    &--note {
      img {
        height: 155%;
      }
    }
  }
}

// .imgContainer {
//   width: 336px;
//   height: 176px;
//   border-radius: 20px 20px 0px 0px;
//   overflow: hidden;

//   img {
//     width: 336px;
//     height: 176px;
//     object-fit: cover;
//     object-position: bottom;
//   }

//   .new {
//     width: 81px;
//     height: 29px;
//     text-align: center;
//     line-height: 29px;
//     color: #139273;
//     background-color: #99e2d0;
//     position: absolute;
//     top: 13px;
//     right: 12px;
//     font-size: 13px;
//     font-weight: bold;
//   }
// }

.restaurants__info {
  display: flex;
  justify-content: space-between;

  img {
    width: 20px;
    height: 20px;
  }
}

.restaurants__name {
  h3 {
    margin-top: 18px;
    margin-left: 14px;
    font-size: 17.5px;
    font-weight: bold;
    @media screen and(min-width:1440px) {
      font-size: 24px;
    }
    @media screen and (min-width: 1700px) {
      font-size: 32px;
    }
  }

  p {
    margin-top: 8px;
    margin-left: 14px;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 16.5px;

    @media screen and (min-width: 1700px) {
      font-size: 18px;
    }
  }
}

.fa-heart {
  position: absolute;
  bottom: 32px;
  right: 26px;
  font-size: 20px;
}
.terrasse {
  text-align: center;
  padding-bottom: 50px;

  h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    @media screen and(min-width:1050px) {
      font-size: 48px;
      margin-bottom: 25px;
    }
  }
  .imgTerrasseContainer {
    width: 100%;
    height: 40vh;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  .footerContainer {
    width: 91%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and(min-width:1050px) {
      font-size: 24px;
    }
    @media screen and(min-width: 1440px) {
      font-size: 48px;
    }
  }
}
