@import"../utils/variables";
button{
    height: 50px;
    width: 218px;
    margin-top: 32px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px grey;
    margin-left: 6px;
    border: none;
    color: white;
    background: $gradient;
    cursor: pointer;  
    position: relative; 
    &:hover{
        opacity: 0.85;
        transform:scale(1.001);
        box-shadow: 4px 4px 8px black;
    }
    span{
        font-size: 14px;
        bottom: 1px;
        font-weight:600;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        

    }

}