/*variables de couleurs*/
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-icone :#7e7e7e;
$color-background: #f6f6f6;
$gradient : linear-gradient($color-secondary,$color-primary);

/*box shadow btn acceuil*/
$box-shadow : 4px 8px 8px #e5e5e5;