footer{
    background-color: #353535;
    color: white;
    width: 100%;
    height: 198px;
    position: relative;
    display: flex;
    flex-direction: column;  
    font-family: 'Roboto';
    font-weight: 100;
    svg{        
        padding-top: 26px;
        padding-left: 25px;        
    }
    a{          
        text-decoration: none;
        color: white;
        width: max-content;
    }
    .propose{  
        margin-top: 14px;      
        margin-left: 25px;
    }
    .partner{
        margin-top: 14px;
        margin-left: 25px;
    }
    p{
        margin-top: 14px;
        margin-left: 25px;
        
        
    }
}
/*.footer__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 12px;
}*/